<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GoogleConfiguration" type="RiverCityUltimate.Core.Application.GoogleConfiguration, RiverCityUltimate.Core, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <GoogleConfiguration ClientId="37989139867-8ai5ipktp2aljajbq3qn6drmtolmbe6s.apps.googleusercontent.com" ProjectId="rivercityultimate-817" AuthUri="https://accounts.google.com/o/oauth2/auth" TokenUri="https://accounts.google.com/o/oauth2/token" AuthProvider="https://www.googleapis.com/oauth2/v1/certs" ClientSecret="JBjnuhtg8yIrtNYXXFss7J4l" FileId="1obhADooDNl-K6Vm74zCvSp5STMUs71GAkFf7G_6r4MA" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>